WCFScreenTakerApplication/MonitorApp/Service References/ScreenService/ScreenService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TakeScreen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="screen" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
        <xs:element minOccurs="0" name="mouseX" type="xs:int" />
        <xs:element minOccurs="0" name="mouseY" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeScreenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>